.container
  .heading
    %h3 New User Sign up

  .new-user-form.col-md-4
    = form_for @user, class: 'form-horizontal' do |f|
      .form-group
        = f.label :username
        = f.text_field :username, class: 'form-control'

      .form-group
        = f.label :email
        = f.text_field :email, class: 'form-control'

        .form-group
          = f.label :password
          = f.password_field :password, class: 'form-control'

      = f.submit "Sign Up", class: 'btn btn-primary'
